// Logo
.logo {
    width: 1.4em;
    margin-left: 1em;
}

// Buttons
.buttons {
    margin-left: 10em;
}

button {
    margin-left: 1em;
}


// Space between logo and icons
.spacer {
    flex: 1 1 auto;
  }