// Movie information container
.movie-detail-container {
    background-color:#202020;
    border-radius: 15px;
    margin-top: 5em;
    margin-bottom: 5em;
}

mat-card img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.movie-box{
  margin-top: 2em;
  margin-bottom: 3em;

  background-color: rgba(3,3,3,0.4);
  height: 30em;
  width:20em;
  position:relative;
  display: inline-block;
  box-shadow: 5px 10px 10px 3px  #030303;
  border-radius: 15px;
}

//Movie information
.movie-information {
  margin-top: 2em;
  margin-bottom: 3em;
}

.movie-summary {
  text-align: justify;
   
}