<ng-http-loader></ng-http-loader>
<div *ngIf="movie" class="container movie-detail-container">
    <div class="row">
        <div @fade class="col-lg-4 col-md-6 text-center">
            <ng-template [ngIf]="movie.Poster && movie.Poster !== 'N/A'">
                <mat-card class="movie-box">
                <img mat-card-img [src]="movie.Poster">
                </mat-card>
            </ng-template>
            <ng-template [ngIf]="movie.Poster === 'N/A'">
                <mat-card class="movie-box">
                <img mat-card-img src="assets/images/notfound.jpg" alt="Not found">
                </mat-card>
            </ng-template>
            <ng-template [ngIf]="!movie.Poster">
                <mat-card class="movie-box">
                <img mat-card-img src="assets/images/notfound.jpg" alt="Not found">
                </mat-card>
            </ng-template>
        </div>
        <div class="col-lg-8 col-md-6 movie-information">
            <h2>{{movie.Title}}</h2>
            <h4 class="badge badge-pill badge-success mb-5">{{movie.Type}}</h4><br>
            <h4><fa-icon style="color:#28a745" [icon]="faClock" size="3x"></fa-icon>
            <strong>&nbsp;	{{movie.Runtime}} &nbsp; </strong>
            <fa-icon style="color:#f5c518" [icon]="faImdb" size="3x"></fa-icon>
            <strong>&nbsp; {{movie.imdbRating}}</strong></h4>
            <p><strong>Released:</strong> {{movie.Year}}</p>
            <p><strong>Director:</strong> {{ movie.Director }}</p>
            <p><strong>Cast:</strong> {{ movie.Actors }}</p>
            <p><strong>Genres:</strong> {{ movie.Genre }}</p>                
            <p class="movie-summary"><strong>Summary:</strong> {{movie.Plot}}</p>
        </div>
    </div>
</div>