<div class="container-fluid sticky-top">
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="row">
    <input type="text" class="form-group col-sm-6 mb-0" placeholder="Search movie by it's title" formControlName="title">
    <input type="text" class="form-group col-sm-3 mb-0" placeholder="Year" formControlName="year">
    <button class="form-group col-sm-3 search-button" type="submit">
      <h3 class="mt-2">Search <mat-icon class="align-middle">search</mat-icon>
      <span class="badge badge-dark">{{totalResults}}</span></h3>
    </button>
  </form>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="float-right mr-2 mb-5">
        <h4><span>
        <select [(ngModel)]="sortBy" (change)="sortMovies()" class="form-control">
          <option selected="true" disabled="disabled">Sort by</option>
          <option value="Title">Title</option>
          <option value="Year">Year</option>
        </select>
      </span></h4>
    </div>
  </div>
<div

  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="100"
  (scrolled)="onScroll()"
>
    <div class="row">
      <div *ngFor="let movie of movieList" class="col-md-4 text-center">
        <a [routerLink]="'/movies/' + movie.imdbID">
          <div @fade>
            <ng-template [ngIf]="movie.Poster && movie.Poster !== 'N/A'">
              <mat-card class="movie-box">
              <img mat-card-img [src]="movie.Poster">
              <div class="overlay">
                <div>
                    <h4 class="mt-3 badge badge-pill badge-success">{{movie.Type}}</h4>
                    <h1 class="mt-5">{{movie.Title}}</h1>
                    <h3 class="mt-5">{{movie.Year}}</h3>
                </div>
              </div>
              </mat-card>
            </ng-template>
            <ng-template [ngIf]="movie.Poster === 'N/A'">
              <mat-card class="movie-box">
                <img mat-card-img src="assets/images/notfound.jpg" alt="Not found">
                <div class="overlay">
                    <div>
                        <h4 class="mt-3 badge badge-pill badge-success">{{movie.Type}}</h4>
                        <h1 class="mt-5">{{movie.Title}}</h1>
                        <h3 class="mt-5">{{movie.Year}}</h3>
                    </div>
                </div>
              </mat-card>
            </ng-template>
            <ng-template [ngIf]="!movie.Poster">
              <mat-card class="movie-box">
                <img mat-card-img src="assets/images/notfound.jpg" alt="Not found">
                <div class="overlay">
                    <div>
                        <h4 class="mt-3 badge badge-pill badge-success">{{movie.Type}}</h4>
                        <h1 class="mt-5">{{movie.Title}}</h1>
                        <h3 class="mt-5">{{movie.Year}}</h3>
                    </div>
                </div>
              </mat-card>
            </ng-template>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

