// Search bar
$fontSizeMedium: 14px;

.form-group {
  height: 45px;
  font-size: $fontSizeMedium;
  padding-left: 16px;
  padding-right: 10px;
  color: #808080;
  outline: none;
  border: none;
  border-radius: 0px;
} 

.search-form {
  width: 100%;
  display: flex;
  flex-grow: row wrap;
  align-items: center;
}

.search-button {
    font-size: $fontSizeMedium;
    letter-spacing: 2px;
    color: #fff;
    background-color: #28a745;
}

// Movies sorting
.sort{
  padding-right: 1em;
  font-size: 0.8em;
}

select{
  border: none;
  height: 2.5em;
  width: 9em;
  font-size: 1.2em;
  margin-left: 1em;
}

// Single movie container
.movie-box-alignment {
  display: grid;
  justify-content: center;
  margin-left: 5em;
  margin-right: 5em;
}

// Movie poster
mat-card img{
  width: 17em;
  height: 26em;
  border-radius: 15px;
}

// Movie box
.movie-box{
    background-color: rgba(3,3,3,0.4);
    height: 100%;
    position:relative;
    display: inline-block;
    box-shadow: 5px 10px 10px 3px  #030303;
    margin-bottom: 5em;
    border-radius: 15px;
  }

// Movie box overlay
  .movie-box .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.7); 
    border-radius: 15px;   
    opacity:0;
    transition:opacity 500ms ease-in-out;
  }

  .movie-box:hover .overlay{
    opacity:1;
  }

  .overlay div{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
  }