@import '~@angular/material/theming';
@include mat-core();

$pop-primary: mat-palette($mat-green);
$pop-accent:  mat-palette($mat-red);
$pop-warn:    mat-palette($mat-deep-orange);

$pop-theme: mat-dark-theme($pop-primary, $pop-accent, $pop-warn);
@include angular-material-theme($pop-theme);

body {
    line-height: 1.7;
    background-color: #404040;
    color: gray;
    font-weight: 400;
    font-size: 1rem;
  }

span a, span a:hover {
    text-decoration: none;
    color:rgba(255,255,255,.87);
}

.example-spacer {
    flex: 1 1 auto;
}

button:focus, button:active:focus, button.active:focus {
    outline: none !important;
    outline-style: none !important;
    }

a, a:hover {
    color: white;
    text-decoration: none;

}

/* Base */
body {
    line-height: 1.7;
    color: gray;
    font-weight: 400;
    font-size: 1rem;
  }
  
  ::-moz-selection {
    background: #000;
    color: #fff;
  }
  
  ::selection {
    background: #000;
    color: #fff;
  }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  .bg-light {
    background: #f6f6f6 !important;
  }
  
  .border-2 {
    border-width: 2px;
  }
  
  .text-black {
    color: #000 !important;
  }
  
  .bg-black {
    background: #000 !important;
  }
  
  .color-black-opacity-5 {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .color-white-opacity-5 {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .site-page {
    margin-top: 90px;
  }
  
  .site-wrap:before {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .offcanvas-menu .site-wrap {
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden;
  }
  
  .offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible;
  }
  
  .offcanvas-menu {
    position: relative;
  }
  
  .offcanvas-menu:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 21;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .btn {
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
  }
  
  .btn:hover,
  .btn:active,
  .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  
  .btn.btn-primary {
    border-width: 2px;
    background: #4285f4;
    border-color: #4285f4;
    color: #fff;
    position: relative;
    top: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
    box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
  }
  
  .btn.btn-primary:hover {
    top: -2px;
    background: #4285f4;
    border-color: #4285f4;
    color: #fff;
    -webkit-box-shadow: 0 5px 30px -5px rgba(66, 133, 244, 0.7) !important;
    box-shadow: 0 5px 30px -5px rgba(66, 133, 244, 0.7) !important;
  }
  
  .line-height-1 {
    line-height: 1 !important;
  }
  
  .bg-black {
    background: #000;
  }
  
  .form-control {
    height: 43px;
    border-radius: 30px;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  .form-control:active,
  .form-control:focus {
    border-color: #4285f4;
  }
  
  .form-control:hover,
  .form-control:active,
  .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
